.article__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  height: auto;
  font-size: 1.8rem;
}

.article__content-image {
  max-width: 100%;
  min-width: 100%;
}

.article__content-title,
.article__content-real,
.article__content-fake {
  padding: 2rem;
}
