/* COMMENT SECTION */
/* ---------------------------- comment input ------------------------------- */
.comments__input-container,
.comments__output-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 2rem 0;
  background-color: var(--light-2);
}

.comments__input-container--dark,
.comments__output-container--dark {
  background-color: var(--dark-4);
}

.comment-title {
  margin-bottom: 2rem;
}

.comment-input-body {
  width: 100%;
  height: 10rem;
  border: none;
  border-radius: 2px;
  font-family: inherit;
  font-size: 1.4rem;
  padding: 1rem;
}

.comment-input-body--dark {
  background-color: var(--light-blue);
  color: var(--light-yellow);
}

.comment-input-body:focus {
  outline: none;
}

.comment-btn {
  margin-top: 2rem;
  border: none;
  width: 5rem;
  height: 5rem;
  text-align: center;
  font-size: 2rem;
  border-radius: 50rem;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  color: var(--dark-blue);
}

.comment-btn:focus {
  outline: none;
}

/* ---------------------------------- comment output ----------------------------- */
.comments-list {
  width: 100%;
  text-align: center;
  list-style: none;
}

.comment {
  display: flex;
  justify-content: space-around;
  width: 100%;
  min-height: 10rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 2px;
}

.comment__credentials {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.comment__credentials--img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.comment__credentials--name {
  font-size: 1.2rem;
}

.comment-output-body {
  display: flex;
  align-items: center;
  max-height: 10rem;
  width: 60%;
  font-size: 1.3rem;
  overflow: scroll;
  text-align: justify;
  background-color: var(--white);
  padding: 1rem;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.comment-output-body--dark {
  background-color: var(--light-blue);
  color: var(--light-yellow);
}

.comment__change {
  display: flex;
  align-items: center;
  color: var(--fail);
}

.delete {
  cursor: pointer;
  font-size: 2rem;
}

@media only screen and (min-width: 50rem) {
  .comments__input-container,
  .comments__output-container {
    /* padding: 2rem; */
  }

  .comment__credentials {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .comment__credentials--img {
    margin: 0 3rem 0 0.6rem;
    width: 7rem;
    height: 7rem;
  }

  .comment__credentials--name {
    font-size: 1.6rem;
    text-align: left;
  }
}

@media only screen and (min-width: 75rem) {
  .comment__change {
    padding: 1rem;
    font-size: 1.6rem;
  }

  .comment-output-body {
    transform: translateX(-5rem);
  }

  .delete {
    transform: translateX(-5rem);
  }
}
