/* Assign grid instructions to our parent grid container, mobile-first (hide the sidenav) */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 7rem 1fr 7rem;
  grid-template-areas:
    "header"
    "main"
    "footer";
  min-height: 100vh;
  font-size: 1.6rem;
  background-color: var(--white);
}

/* Non-mobile styles, 750px breakpoint */
@media only screen and (min-width: 75rem) {
  /* Show the sidenav */
  .grid-container {
    grid-template-columns: 24rem 1fr;
    grid-template-areas:
      "sidenav header"
      "sidenav main"
      "sidenav footer";
  }
}
