.footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  background-color: #f2f2f2;
}

.footer--dark {
  /* background-color: #404040; */
  background-image: linear-gradient(to left, #404040, #0d0d0d);
  color: white;
}
