.footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  background-color: var(--color-light-1);
}

.footer--dark {
  background-color: var(--color-dark-5);
  color: var(--color-white);
}
