.footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  background-color: var(--gray-1);
}

.footer--dark {
  /* background-color: var(--gray-7); */
  background-image: linear-gradient(to left, var(--gray-7), var(--gray-8));
  color: var(--gray-0);
}
