/* Give every child element its grid name */
.header {
  grid-area: header;
  display: flex;
  position: sticky;
  top: 0;
  right: 0;
  height: 7rem;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.6rem;
  background-color: var(--light-4);
  transition: 0.8s;
  z-index: 200;
}

.header--dark {
  background-color: var(--dark-4);
  color: var(--light-yellow);
}

/* Make room for the menu icon on mobile */
.header__search-container {
  margin-left: 7rem;
}

.header__arrows-container {
  font-size: 4rem;
}

.up-arrow,
.down-arrow {
  margin: 1rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 50%;
  cursor: pointer;
  color: var(--dark-1);
}

.up-arrow--dark,
.down-arrow--dark {
  color: var(--light-yellow);
}

@media only screen and (min-width: 550px) {
  .header__login-out {
    display: flex;
  }
}

/* Non-mobile styles, 750px breakpoint */
@media only screen and (min-width: 75rem) {
  .header__search-container {
    margin-left: 0;
  }
}
