/* Give every child element its grid name */
.header {
  grid-area: header;
  display: flex;
  position: sticky;
  top: 0;
  right: 0;
  height: 7rem;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.6rem;
  background-color: var(--light-4);
  transition: 0.8s;
  z-index: 200;
}

.header--dark {
  background-color: var(--dark-4);
  color: var(--light-yellow);
}

/* Make room for the menu icon on mobile */
.header__search-container {
  margin-left: 7rem;
}

@media only screen and (min-width: 550px) {
  .header__login-out {
    display: flex;
  }
}

/* Non-mobile styles, 750px breakpoint */
@media only screen and (min-width: 75rem) {
  .header__search-container {
    margin-left: 0;
  }
}
