.menu-icon {
  position: fixed; /* Needs to stay visible for all mobile scrolling */
  display: flex;
  top: 0.5rem;
  left: 1rem;
  align-items: center;
  justify-content: center;
  background-color: var(--gray-4);
  border-radius: 50%;
  z-index: 199;
  cursor: pointer;
  padding: 1.3rem;
  font-size: 2rem;
  z-index: 201;
}
