* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Noto Sans", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

/* custom properties */
:root {
  --transparent: rgba(255, 255, 255, 0);
  --gray-0: #fff;
  --gray-1: #eee;
  --gray-2: #ddd;
  --gray-3: #ccc;
  --gray-4: #bcbcbc;

  --gray-5: #a6a6a6;
  --gray-6: #7c7c7c;
  --gray-7: #545454;
  --gray-8: #303030;
  --gray-9: #0d0d0d;
}
