.login-wrapper {
  height: 100vh;
  width: 100%;
  background-color: var(--color-light-3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-title {
  padding: 2rem 0;
}

.login-dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 4rem;
  background-color: var(--color-white);
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.login-goBack {
  text-decoration: none;
  color: var(--gray-8);
  font-size: 1.3rem;
}
