.main {
  grid-area: main;
  /* background-color: var(--color-light-4); */
  transition: 0.8s;
}

.main--dark {
  background-color: var(--color-dark-4);
}

.main-header {
  /* display: flex; */
  /* justify-content: flex-start; */
  /* height: auto; */
  background-color: var(--transparent);
}

.banner-video {
  max-width: 100%;
  max-height: 100%;
  filter: grayscale(100%);
}

.banner-video--dark {
  filter: brightness(70%);
}

.main-articles {
  column-count: 1;
  column-gap: 2rem;
}

/* Force varying heights to simulate dynamic content */
/* .card:first-child {
  height: 485px;
}

.card:nth-child(2) {
  height: 200px;
}

.card:nth-child(3) {
  height: 265px;
} */

/* Medium screens breakpoint (1050px) */
@media only screen and (min-width: 65.625em) {
  /* Break out main cards into two columns */
  .main-articles {
    column-count: 2;
  }
}
