.main {
  grid-area: main;
  background-color: var(--gray-1);
  transition: 0.8s;
}

.main--dark {
  background-color: var(--gray-6);
}

.main-header {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  height: 30rem;
  background-color: var(--gray-3);
}

.main-articles {
  column-count: 1;
  column-gap: 2rem;
}

/* Force varying heights to simulate dynamic content */
/* .card:first-child {
  height: 485px;
}

.card:nth-child(2) {
  height: 200px;
}

.card:nth-child(3) {
  height: 265px;
} */
/* Non-mobile styles, 750px breakpoint */
@media only screen and (min-width: 46.875em) {
  .main-header {
    margin: 20px;
  }
}

/* Medium screens breakpoint (1050px) */
@media only screen and (min-width: 65.625em) {
  /* Break out main cards into two columns */
  .main-articles {
    column-count: 2;
  }
}
