.main {
  grid-area: main;
  background-color: white;
}

.main-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: 300px;
  /* background-color: #e3e4e6; */
  background-image: url(../img/rishabh-sharma-R-js25Pv1LQ-unsplash.jpg);
  background-size: cover;
  background-position: center;
  opacity: 0.8;
}

.main-articles {
  column-count: 1;
  column-gap: 20px;
  /* margin: 20px; */
}

/* Force varying heights to simulate dynamic content */
/* .card:first-child {
  height: 485px;
}

.card:nth-child(2) {
  height: 200px;
}

.card:nth-child(3) {
  height: 265px;
} */
/* Non-mobile styles, 750px breakpoint */
@media only screen and (min-width: 46.875em) {
  .main-header {
    margin: 20px;
  }
}

/* Medium screens breakpoint (1050px) */
@media only screen and (min-width: 65.625em) {
  /* Break out main cards into two columns */
  .main-articles {
    column-count: 2;
  }
}
