.main-flags-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  overflow-y: hidden;
}

.main-flags {
  display: flex;
  justify-content: flex-start;
  /* width: 47.5rem; */
  width: 100vw;
}

/* Non-mobile styles, 750px breakpoint */
@media only screen and (min-width: 75rem) {
  .main-flags {
    width: 70vw;
  }
}

/* Medium screens breakpoint (1050px) */
@media only screen and (min-width: 105rem) {
  .main-flags {
    /* width: 125rem; */
  }
}

/* Medium screens breakpoint (1550px) */
@media only screen and (min-width: 155.5rem) {
  .main-flags {
    /* width: 175rem; */
  }
}
