.main-flags-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
  overflow-y: hidden;
}

.main-flags {
  display: flex;
  justify-content: flex-start;
  width: 475px;
}

/* Non-mobile styles, 750px breakpoint */
@media only screen and (min-width: 46.875em) {
  .main-flags {
    width: 750px;
  }
}

/* Medium screens breakpoint (1050px) */
@media only screen and (min-width: 65.625em) {
  .main-flags {
    width: 1050px;
    justify-content: center;
  }
}
