.main-flags-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  overflow-y: hidden;
}

.main-flags {
  display: flex;
  justify-content: flex-start;
  width: 100vw;
}

/* Non-mobile styles, 750px breakpoint */
@media only screen and (min-width: 75rem) {
  .main-flags {
    width: 70vw;
  }
}
