.notify {
  width: 100%;
  height: 5rem;
}

.hide {
  display: none;
}

.success {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  width: 100%;
  height: 100%;
}

.fail {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  width: 100%;
  height: 100%;
}
