.sidenav {
  grid-area: sidenav;
  display: flex;
  flex-direction: column;
  position: fixed;
  min-height: 100%;
  width: 100%;
  transform: translateX(-100%);
  transition: all 0.6s ease-in-out;
  font-size: 1.4rem;
  z-index: 201; /* Needs to sit above the hamburger menu icon */
  background-color: var(--white);
}

.sidenav--dark {
  background-color: var(--dark-4);
  color: var(--light-yellow);
}

.sidenav.active {
  transform: translateX(0);
}

/* --------------------------------- Account Container ----------------------------------- */

.sidenav__account-container {
  width: 100%;
  height: 7rem;
}

.sidenav__account {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.sidenav__account-user-picture {
  max-height: 7rem;
  max-width: 7rem;
  min-height: 7rem;
  min-width: 7rem;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-left: 1rem;
}

.sidenav__account-user-name {
  font-size: 1.8rem;
  text-align: center;
}

.sidenav__close-icon {
  position: absolute;
  visibility: visible;
  top: 1.5rem;
  right: 2rem;
  cursor: pointer;
  font-size: 3rem;
}

/* ------------------------------------- Login Container --------------------------------- */

.sidenav__login-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 7rem;
}

.sidenav__login-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70%;
  margin-top: 0.5rem;
  text-decoration: none;
  color: var(--dark-5);
  background-color: var(--white);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 50rem;
  font-size: 2rem;
  transition: 0.2s;
}

.sidenav__login-btn:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.sidenav__login-btn--dark {
  background-color: var(--light-yellow);
}

.sidenav__login-btn--dark:hover {
  background-color: var(--light-blue);
  color: var(--light-yellow);
}

/* ------------------------ Options Container ------------------------- */

.sidenav__options-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 7rem;
}

.sidenav__switch {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  height: 100%;
}

.sun-icon,
.moon-icon {
  font-size: 2.5rem;
  filter: grayscale(50%);
}

.sun-icon,
.moon-icon {
  color: gold;
}

.switch {
  position: relative;
  display: inline-block;
  width: 7rem;
  height: 3.5rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--white);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 2.7rem;
  width: 2.7rem;
  left: 4px;
  bottom: 4px;
  background-color: var(--light-blue);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--light-yellow);
}

input:focus + .slider {
  /* box-shadow: 0 0 1px var(--gray-9); */
}

input:checked + .slider:before {
  -webkit-transform: translateX(3.5rem);
  -ms-transform: translateX(3.5rem);
  transform: translateX(3.5rem);
}

/* Rounded sliders */
.slider.round {
  border-radius: 3.4rem;
}

.slider.round:before {
  border-radius: 50%;
}

/* ------------------------------------------------------------------- */

.sidenav__nav-selected-country {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidenav__nav-selected-country-flag {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* -------------------------------- Menu Name -------------------------------------- */
.sidenav__menu-name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 7rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

/* -------------------------------- List Container -------------------------------- */

.sidenav__list {
  width: 100%;
  text-align: center;
  list-style-type: none;
  text-transform: uppercase;
}

/* Non-mobile styles, 550px breakpoint */
@media only screen and (min-width: 550px) {
  .sidenav {
    width: 24rem;
  }

  .sidenav__close-icon {
    font-size: 2rem;
    top: 1rem;
    right: 1.2rem;
  }

  .sidenav__list {
    text-align: left;
  }

  .sidenav__menu-name h3 {
    font-size: 2rem;
  }
}

/* Non-mobile styles, 1050px breakpoint */
@media only screen and (min-width: 1200px) {
  .sidenav {
    transform: translateX(0);
  }
  .sidenav__close-icon {
    visibility: hidden;
  }
}
