.sidenav {
  grid-area: sidenav;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  transform: translateX(-100%);
  transition: all 0.6s ease-in-out;
  font-size: 2rem;
  text-transform: uppercase;
  z-index: 201; /* Needs to sit above the hamburger menu icon */
  background-color: var(--gray-2);
  overflow: hidden;
}

.sidenav--dark {
  background-color: var(--gray-9);
  color: var(--gray-0);
}

.sidenav.active {
  transform: translateX(0);
}

.sidenav__close-icon {
  position: absolute;
  visibility: visible;
  top: 1.2rem;
  right: 2rem;
  cursor: pointer;
  font-size: 3rem;
  color: var(--gray-9);
}

.sidenav__close-icon--dark {
  color: var(--gray-3);
}

/* ------------------------ DARK MODE SWITCH ------------------------- */
.sidenav__switch {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

.sidenav__switch h4 {
  margin-right: 2.5rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 5.5rem;
  height: 2.9rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--gray-9);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 2rem;
  width: 2rem;
  left: 4px;
  bottom: 4px;
  background-color: var(--gray-0);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--gray-5);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--gray-9);
}

input:checked + .slider:before {
  -webkit-transform: translateX(2.6rem);
  -ms-transform: translateX(2.6rem);
  transform: translateX(2.6rem);
}

/* Rounded sliders */
.slider.round {
  border-radius: 3.4rem;
}

.slider.round:before {
  border-radius: 50%;
}
/* ------------------------------------------------------------------- */

.sidenav__account {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background-color: var(--gray-4);
  color: var(--gray-9);
  margin-bottom: 4rem;
}

.sidenav__account--dark {
  background-color: var(--gray-7);
  color: var(--gray-0);
}

.sidenav__account-user-picture {
  min-height: 7rem;
  min-width: 7rem;
  max-height: 7rem;
  max-width: 7rem;
  margin-right: 1.5rem;
  border-radius: 50%;
  border: 3px solid var(--gray-9);
}

.sidenav__account-user-picture--dark {
  border: 3px solid var(--gray-0);
}

.sidenav__nav-selected-country {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sidenav__nav-selected-country-flag {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  margin-left: 3.7rem;
}

.sidenav__nav-categories-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--gray-9);
  margin: 1.5rem 0 3.5rem;
  transform: translateX(-3.4rem);
}
.sidenav__nav-categories-title--dark {
  color: var(--gray-0);
}

.sidenav__list {
  width: 100%;
  text-align: center;
  list-style-type: none;
}

/* Non-mobile styles, 750px breakpoint */
@media only screen and (min-width: 550px) {
  .sidenav {
    width: 24rem;
    font-size: 1.8rem;
  }

  .sidenav__close-icon {
    font-size: 2rem;
    top: 0.8rem;
    right: 1.2rem;
  }

  .sidenav__list {
    padding-left: 0rem;
    text-align: left;
  }
}

/* Non-mobile styles, 1050px breakpoint */
@media only screen and (min-width: 1200px) {
  .sidenav {
    transform: translateX(0);
  }
  .sidenav__close-icon {
    visibility: hidden;
  }
}
