.sidenav__list-item {
  padding: 1rem 1rem 1rem 0;
  /* color: var(--gray-9); */
  transition: 0.2s;
  font-size: 2.5rem;
}

.sidenav__list-item:hover {
  background-color: var(--color-white);
  cursor: pointer;
  /* transform: scale(1.1); */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.sidenav__list-item--dark {
  /* background-color: var(--dark-btn); */
}

.sidenav__list-item--dark:hover {
  background-color: var(--dark-btn);
  color: var(--dark-btn-font);
}

@media only screen and (min-width: 550px) {
  .sidenav__list-item {
    font-size: 2rem;
    padding: 1.5rem 1.5rem 1.5rem 4rem;
  }
}
