.sidenav__list-item {
  padding: 1.5rem 0 1.5rem 5.5rem;
  color: var(--gray-9);
  transition: 0.2s;
}

.sidenav__list-item--dark {
  color: var(--gray-4);
}

.sidenav__list-item:hover {
  background-color: var(--gray-5);
  cursor: pointer;
}

.sidenav__list-item--dark:hover {
  background-color: var(--gray-7);
}
