.user-wrapper {
  /* position: fixed; */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: var(--light-4);
  /* z-index: 1000; */
}

.user__details {
  height: auto;
  max-width: 50rem;
  min-width: 32rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background-color: var(--white);
}

.user__details-photo-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 20rem;
  width: 100%;
  background-color: var(--light-5);
}

.user__details-photo {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.user__details-photo--upload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.choose-photo {
  background-color: var(--light-4);
}

.progress-bar {
  width: 100%;
}

.upload-photo {
  margin-bottom: 1rem;
  border-radius: 50rem;
  border: none;
  background-color: var(--fail);
  padding: 1rem;
  color: var(--white);
  font-family: inherit;
  cursor: pointer;
}

.upload-photo:focus {
  outline: none;
}

.user__details-credentials-container {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  justify-content: space-between;
  height: 30rem;
  width: 100%;
  background-color: var(--light-4);
  font-size: 1.6rem;
}

.user-name,
.user-email,
.user-password,
.user-delete {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-input {
  border: none;
  border-radius: 50rem;
  padding: 1rem;
  width: 15rem;
}

.user-input:focus {
  outline: none;
}

.submit-btn {
  border: none;
  padding: 1rem;
  background-color: var(--fail);
  min-width: 7.2rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 50rem;
  font-size: 1.4rem;
  color: var(--white);
  font-family: inherit;
}

.submit-btn:focus {
  outline: none;
}

.go-back {
  align-self: center;
  text-decoration: none;
  color: var(--dark-5);
}
