* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Noto Sans", sans-serif;
}

/* ::-webkit-scrollbar {
  display: none;
} */

/* custom properties */
:root {
  --transparent: rgba(255, 255, 255, 0);
  --gray-0: #fff;
  --gray-1: #f2f2f2;
  --gray-2: #e8e9ea;
  --gray-3: #e3e4e6;
  --gray-4: #dadae3;

  --gray-5: #a6a6a6;
  --gray-6: #737373;
  --gray-7: #404040;
  --gray-8: #0d0d0d;
}
